<h1>CONTESTANTS</h1>

<% @contestants.each do |contestant| %>
    <%= contestant.name %>
    <% names = contestant.projects.map{|project| project.name} %>
    <p><%= names.each {|name| p name} %></p>
<% end %>
