<h1>PROJECT SHOW PAGE</h1>
<ul>
  <li> Project Name: <%= @project.name %> </li>
  <li> Theme: <%= @project.challenge.theme %> </li>
  <li> Material Used: <%= @project.material %> </li>
  <li> Number of Contestants: <%= @project.contestants.length %> </li>
</ul>
